h1
  {
    color: red;
    font-family: monospace;
  }
  .blackTopMenuContainer
  {
    background-color: black;
    width: 100%;
    display: flex;
    margin: 0px 0px 0px -8px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing:content-box;
    border-width: 10px;
    border-top: 1px;
    border-bottom: 1px;
    border-color: black;
    border-style: solid;

  }
  .topMenuOption
  {
    text-decoration: none;
    float: left;
    width: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    position: relative;
  }
  .topMenuOption:hover
  {
    background-color: silver;
    color: black;
  }
  .centerText
  {
    text-align: center;
  }
